# Windows image file caches
Thumbs.db

# ignore install folder with update ( i think not sure )
# Fannybaws note - I am sure, it should not be ignored :)
# /install/*
/GameEngine/Database/connection.php
/GameEngine/config.php
GameEngine/Database/connection.php
GameEngine/config.php
/install/include/connection.php
/install/include/constant.php
install/include/connection.php
install/include/constant.php

# Folder config file
Desktop.ini

# Mac crap
.DS_Store